*{ margin: 0; padding: 0; box-sizing: border-box;}
body {
    background-color: rgba(80, 127, 81, 0.967);
}

#centro {
    margin: 0px auto;
    padding: 40px;
    width: 500px;
}

#titulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin: 0px 30px;
    width: 500px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: linear-gradient(rgba(5, 10, 5, 0.80),rgb(58, 118, 73)), url(https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/mw2/meta-images/reveal/mw2-reveal-meta-share.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 35px 0;
    width: 80%;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    text-decoration: none;
    
}

.navbar ul li ::before {
    background-color: white;
    bottom: -12px;
    content:"";
    height: 3px;
    left: 0;
    position: absolute;
    transition: 0.4s ease-out;
    width: 0%;
    
}

.navbar ul li :hover::before {
    width: 100%;
}

#sub-title{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.5em;
    
}

p {
    text-align: justify;
}

.container2 {
    background-image: linear-gradient(rgba(5, 10, 5, 0.80),rgb(58, 118, 73)), url(https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/mw2/meta-images/reveal/mw2-reveal-meta-share.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
} 

.navbar2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 35px 0;
    width: 80%;
}

#texto2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 550px;
    width: 640px;
    font-size: 1.3em;
    text-align: center;
}

.one{    z-index: 1;
    width: 1700px;
    height: 740px;
    padding: 20px 20px;
    font-size: 20px;
    line-height: 1.5;
    box-shadow: 1px 5px 25px rgba(0,0,0.45);
    border-radius: 5px;
    color: white;
    text-align: left;
    text-justify: auto;
}

.one img{
    width: 580px;
    border-radius: 5px;
    float: left;
    text-align: left;

}
.metagame{
    z-index: 1;
    width: 1700px;
    height: 640px;
    padding: 20px 20px;
    font-size: 25px;
    line-height: 1.5;
    border-radius: 5px;
    
    color: white;
    text-align: left;
    text-justify: auto;

}
.metagame img{
    width: 580px;
    border-radius: 5px;
    float: right;
    text-align: right;

}

